<nav class="navbar navbar-expand-lg" id="nav_top">
    <!-- Container wrapper -->
    <div class="container-fluid px-3">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img class="navbar-brand" src="/images/white_logo.png" alt="HomePage" width="125" height="50" class="d-inline-block align-text-top">
            </a>
        </div>
        <!-- Collapsible wrapper -->
        <form class="mx-2 my-auto d-inline w-100">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="cust-search-bar">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="search_button">Search</button>
                </span>
            </div>

        </form>
        <!-- Below needs to be SVG, not IMG -->
        <a class="nav-link me-2" href="/products">
            products
        </a>
        <div class="navbar-nav ms-auto">
            <% if(!currentUser) { %>
                <a class="nav-link me-2" href="/login"><img src="/images/loginFinal.svg" height="45" alt=""></a>
                <% } else { %>
                    <a class="nav-link me-2" href="/profile"><img src="/images/finalProfile.svg" height="45" alt=""></a>
                    <% } %>
                        <a class="nav-link" href="/cart">
                            <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                            <span class="badge">
                        <% if(session.cart) {%>  
                            <%= session.cart.totalQty %> 
                        <% } %> 
                    </span>
                        </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg" id="nav_bottom">
    <div class="container-fluid">

    </div>
</nav>