body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c.tenor.com/OS-8lY35MBwAAAAC/emetselch.gif"); */
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); */
    /* font-family: 'Poppins', sans-serif !important; */
}

.cover-container {
    max-width: 60vw;
}

.container-changeup {
    /* background-color: #ffffff; */
    background-color: #035397
    /* border-radius: 2px; */
    /* border-color: #333; */
}

.carousel-items {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.card-body {
    padding-left: 1rem;
    padding-top: 0rem;
}

.price-font {
    font-size: small !important;
}

.item-images {
    width: 250px;
    height: 200px;
    object-fit: cover;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5%; */
}

.item-home-desc,
.item-home-desc:hover {
    text-decoration: none;
    text-align: left;
    color: black;
}

.card-home-styles {
    width: 100%; 
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.card-title-text {
    font-family:'Tahoma', Arial, sans-serif;
    text-align: center;
    font-weight:bold;
}

.card-text-style {
    margin-left: 4%;
    margin-right: auto;
    margin-top: 0%;
    font-weight: 100;
    font-size:large;
    font-family:'Tahoma', Arial, sans-serif;
}

/* .nav-link { Not needed due to navbar.css 
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
} */


/* .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
} */

.btn-secondary,
.btn-secondary:hover {
    font-weight: bold;
    color: #333;
    text-shadow: none;
}