body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c.tenor.com/OS-8lY35MBwAAAAC/emetselch.gif"); */
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif !important;
}

.cover-container {
    max-width: 60vw;
}

.container-changeup {
    background-color: #ffffff;
    border-radius: 2px;
    border-color: #333;
}


/* .nav-link { Not needed due to navbar.css 
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
} */


/* .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
} */

.btn-secondary,
.btn-secondary:hover {
    font-weight: bold;
    color: #333;
    text-shadow: none;
}