/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
nav {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
} 

body {
    background-color: #f2f2f2;
}

.btn {
    background-color: #035397;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #2f83d1;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}


.top-box { 
    height: 75px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: cover; 
    background-color: #ffffff;
    /* background: linear-gradient(to bottom, rgb(255, 255, 255), #f2f2f2);  */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-box {
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(to bottom, #f2f2f2, rgb(255, 255, 255));*/ 
} 


.navbar {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    padding-top: 0rem;
    /* This causes the navbar to be larger than 75px in some pages, so just use max-height */
    /* height: 75px; */
    max-height: 75px;
}

.circle {
    background: rgba(153, 51, 255, 1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}

#nav_top, footer {
    background: rgba(34, 0, 63, 1);
    color: rgb(255, 184, 184);
}

#search_button {
    color: white;
}

#cust-search-bar {
    border-radius: 2px;
    /* height: 40px;
    width: 20%; */
    position: relative;
}

#search-bg {
    color: rgb(255, 255, 255);
}