#nav_top, footer {
    background: rgba(34, 0, 63, 1);
    color: rgb(255, 184, 184);
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar {
    font-family: 'Poppins', sans-serif !important;
    padding-top: 0rem;
    height: 75px;
    /* max-height: 75px; */
}

.circle {
    background: rgba(153, 51, 255, 1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}

#search_button {
    color: white;
}

#cust-search-bar {
    border-radius: 2px;
}

#search-bg {
    color: rgb(255, 255, 255);
}