@media screen and (max-width: 1199px) {
    .display-items {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (max-width: 1199px) {
    .text-c {
        text-align: center;
    }
}

@media screen and (max-width: 1199px) {
    #movin {
        max-width: 100%;
    }
}
#movin {
    min-width: 200px;
    max-width: 200px;
}

.display-items {
    display: block;
    width: 500px;
    height: 300px;
    object-fit: cover;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}