body {
    background-color: #f2f2f2;
}

.btn {
    background-color: #035397;
    color: white;
    border: none;
}

.bottom-box {
    width: 100%; height: 100%; 
    background-size: cover; 
    background: linear-gradient(to bottom, #f2f2f2, rgb(255, 255, 255));
}