/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
/* body {
    background-color: #ffffff;
    /* font-family: 'Poppins', sans-serif !important; 
} 
*/

/* body {
    background-color: white !important;
} */

h5 {
    text-align: center;
}

.main-content {
    padding-top: 25px;
    padding-bottom: 100px;
}

.btn-login,
.btn-login:hover {
    color: #fff;
    background-color: #035397 !important;
    /* border-color: rgba(153, 51, 255, 1) !important; */
}

a {
    text-decoration: none;
}

.top-box { 
    height: 75px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: cover; 
    /* background: linear-gradient(to bottom, rgb(255, 255, 255), #f2f2f2); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-box {
    background-size: cover; 
    /* background: #f2f2f2; */
    height: 100%;
    margin-bottom: 3%;
    /* background: linear-gradient(to bottom, #f2f2f2, rgb(255, 255, 255)); */
} 

.carousel-item:active #main-background {
    background: linear-gradient(to bottom, #359421 75%, #f2f2f2) !important;
}

#main-background {
    background: linear-gradient(to bottom, #035397 75%, #af1919);
}

.account-card {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

#profile-nav {
    color: #0d6efd;
    text-align: center;
    padding-bottom: 20px;
}

#profile-size-lock {
    min-width: 200px; 
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.account-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.account-card-icon-circle {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: rgba(0, 123, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-card-icon-circle.is-primary i {
    font-size: 30px;
    color: #0d6efd;
}

.account-card-icon-circle i {
    font-size: 30px;
    color: #007bff;
}