<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/cart.css" />
<div class="row checkout-section">
    <div class="col-9">
        <div class="container" id="contactInfo">
            <div class="contact-title" style="padding-top: 20px; padding-left: 0px">Contact Info</div>
            <form action="/cart/checkout" method="POST" class="row g-3 mt-1">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" class="form-control" required name="firstName" />
                </div>
                <!-- end first name -->
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" class="form-control" required name="lastName" />
                </div>
                <!-- end last name -->
                <div class="col-12">
                    <label for="address" class="form-label">Street Address</label>
                    <input type="text" class="form-control mb-2" id="address" placeholder="1234 Main St" required name="address" />
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" />
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" required name="city" />
                </div>
                <!-- end city -->
                <div class="col-md-4">
                    <label for="state" class="form-label">
                        State
                        <span class="text-muted"><em>Example: TX for Texas</em></span>
                    </label>
                    <input type="text" class="form-control" id="state" maxlength="2" required name="state" />
                    <!-- <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select> -->
                </div>
                <div class="col-md-2">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zip" required name="zip" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Complete Order</button>
                </div>
                <div hidden>
                    <!-- total price -->
                    <input type="number" id="totalPrice" name="totalPrice" />
                </div>
            </form>
        </div>
    </div>
    <!-- end col -->
    <div class="col-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title checkout-header">Order Summary</h5>
                <div class="charges">
                    <div>
                        <p>Item(s):</p>
                        <p>Existing:</p>
                        <p>Breathing:</p>
                        <p>Using Scamazon:</p>
                        <p>Tax (8.25%)</p>
                        <p class="text-muted">hidden fees</p>
                    </div>
                    <div>
                        <p>$<%= itemsPrice.toFixed(2) %></p>
                        <p>$50.00</p>
                        <p>$25.00</p>
                        <p>$100.00</p>
                        <p>$<%= (itemsPrice * 0.0825).toFixed(2) %></p>
                        <p class="text-muted">$50.00</p>
                    </div>
                </div>
                <div class="mt-2 d-grid gap-1">
                    <h4>Total: $<%= totalPrice.toFixed(2) %></h4>
                    <span id="summaryTotal" style="display: none"><%= totalPrice.toFixed(2) %></span>
                    <a href="/cart/confirmation" class="btn btn-warning">Complete Order</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<script>
    $(document).ready(function () {
        let total = $('#summaryTotal').text();
        console.log(total);
        $('#totalPrice').attr('value', total);
    });
</script>
