<% layout('layouts/boilerplate') %>

<form action="/change_password?_method=PUT" method="POST">
    <div>
        <label>change password</label>
        <br>
        <label>username</label>
        <input value="<%=user.username%>" type="text" id="username" name="username">
        <br>
        <label>old password</label>
        <input class="form-control" type="password" id="oldpassword" name="old">
        <label>new password</label>
        <input class="form-control" type="password" id="newpassword" name="new">
        <button>change</button>
    </div>
</form>