<link rel="stylesheet" href="/stylesheets/profile.css" />

<% layout('layouts/boilerplate') %>
    <div class="container justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Sign-in</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                            </div>
                            <!-- end username -->
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <!-- <a href="#" class="link-primary">Forgot password?</a> -->
                            </div>
                            <!-- end password -->
                            <div class="d-grid gap-2">
                                <button class="btn btn-success btn-login" type="submit">Login</button>
                            </div>
                        </form>
                        <div class="text-center mt-2">
                            <label class="form-label">Don't have an account?</label>
                            <a href="/register">Sign Up Here</a>
                        </div>
                        <div class="text-center>
                            <label class="form-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row mt-4">
        <div class="container-fluid bottom-box">
            &nbsp;
        </div>
    </div> -->