<% layout('layouts/boilerplate') %>
    <section class="main-content">
        <div class="container">
            <h1 class="text-center">Your Account</h1>
        </div>
        <br><br>
        <div class="container">
            <!-- Row 1 start -->
            <div class="row">
                <div class="col-sm-6">
                    <a class="account-card btn" href="#" style="text-align: left;">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Orders</h4>
                            <p>Track, return, or buy things again</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle is-primary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="account-card btn" href="#" style="text-align: left;">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Products</h4>
                            <p>View and manage your products</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle">
                                <i class="fa-solid fa-list"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="account-card btn" href="#" style="text-align: left;">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Profiles</h4>
                            <p>Manage your profile</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle">
                                <i class="fa-solid fa-address-card"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="account-card btn" href="/logout" style="text-align: left;">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted text-align: left;">Logout</h4>
                            <p>Logout of your account</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle">
                                <i class="fa-solid fa-address-card"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- style="width: 40rem; -->