<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <section class="main-content">
        <div class="container">
            <h1 class="text-center">Your Account</h1>
            <br><br>
            <!-- Row 1 start -->
            <a class="nav-link me-2" href="/logout">logout</a>
            <div class="row">
                <div class="col-sm-4">
                    <div class="account-card">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Orders</h4>
                            <p>Track, return, or buy things again</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle is-primary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="account-card">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Products</h4>
                            <p>View and manage your products</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle">
                                <i class="fa-solid fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="account-card">
                        <div class="account-card-content">
                            <h4 class="mb-2 text-muted">Your Profiles</h4>
                            <p>Manage your profile</p>
                        </div>
                        <div class="account-card-icon">
                            <div class="account-card-icon-circle">
                                <i class="fa-solid fa-address-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>