<link rel="stylesheet" href="/stylesheets/profile.css" />

<% layout('layouts/boilerplate') %>
<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card shadow" id="profile-size-lock">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                        </div> <!-- end username -->
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div> <!-- end password -->
                        <!-- 3/29 - added admin code field -->
                        <div class="mb-3">
                            <label class="form-label" for="adminCode">Admin Code</label>
                            <input class="form-control" type="text" id="adminCode" name="adminCode">
                        </div> <!-- end admin code -->
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-login" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="container bottom-box">
        &nbsp;
    </div>
</div> -->
